@for (movie of movies; track $index) {
<div class="bg-slate-800 text-white rounded-2xl shadow-lg overflow-hidden border border-gray-700 m-4">
    <div class="p-4">
        <h2 class="text-xl font-semibold mb-1 font-mono">{{ movie.nome }}</h2>

        <p class="text-gray-300 text-sm mb-2 italic font-mono">“{{ movie.review }}”</p>

        <p class="text-gray-400 text-xs font-light font-mono mb-3">
            Assistido em: {{ movie.dataAssistida }}
        </p>

        <div class="flex items-center justify-between">
            <span class="text-yellow-400 font-bold font-mono">
                {{ movie.nota }}/10
            </span>
        </div>
        
        <div class="flex justify-end space-x-2">
          <a [routerLink]="['/filmes/editar', movie.id]" class="bg-blue-500 hover:bg-blue-400 text-white text-sm font-bold px-3 py-1 rounded-lg transition-all font-mono">Atualizar</a>
          <a (click)="deletarFilme(movie.id)" [routerLink]="['/filmes/excluir', movie.id]" class="bg-red-500 hover:bg-red-400 text-white text-sm font-bold px-3 py-1 rounded-lg transition-all font-mono">Excluir</a>
        </div>
    </div>
</div>
}